{% extends "base.html" %}
{% load static %}

{% block title_block %}
    All Posts
{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'blog/includes/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/all-posts.css' %}">
{% endblock %}

{% block body_block %}
    <section id="all-posts">
        <h2>My Post Collection</h2>
        <ul>
            {% include "blog/includes/post.html" %}
            {% include "blog/includes/post.html" %}
            {% include "blog/includes/post.html" %}
            {% include "blog/includes/post.html" %}
            {% include "blog/includes/post.html" %}
        </ul>
    </section>
{% endblock %}