{% extends "base.html" %}
{% load static %}


{% block title_block %}
    My Blog
{% endblock %}


{% block css_block %}
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}


{% block body_block %}
    <header id="main-navigation">
        <h1><a href="{% url 'starting-page' %}">Akram's Blog</a></h1>
        <nav>
            <a href="{% url 'posts-page' %}">All Posts</a>
        </nav>
    </header>

    <section id="welcome">
        <header>
            <img src="" alt="Akram - The Author of this Blog">
            <h2>AKRAM'S BLOG</h2>
        </header>
        <p>Hi, I am Akram and I love to blog about latest tech!!</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="" alt="Mountain Hiking" />
                        <div class="post__content">
                            <h3>Mountain Hiking</h3>
                            <p>There's nothing like the views you get hiking in the mountains. And I wasn't even prepared for what happened whilst I was enjoying the view!</p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>

    <section id="about">
        <h2>What I Do</h2>
        <p>
            I love programming and am committed to staying updated with the latest technological advancements.
        </p>
        <p>
            My goal is to keep on growing as a developer and help others reach their goals!
        </p>
    </section>
{% endblock %}